@import './base.css';

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
  }
}

body {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/582/155/806/space-space-art-nebula-stars-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
